@charset "utf-8";
*{
  margin: 5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

body { 
  padding-top: 0px;  /*コンテントがnavbarとかぶらないように*/
  
  font-family: cursive!important;
  
}


.panel-title{
  word-wrap: break-word;
}


.wrapper{
  display: flex;
  flex-wrap : wrap;
  justify-content: space-between;
}

.wrapper li{
  
  width:30%;
  margin: 0;
  padding: 0;
}

.wrapper::after{
  content:"";
  display: block;
  width:30%;
}



.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.col{
  width: calc(1500% - 2rem);
  margin: 6rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-perspective: 10000px;
            perspective: 10000px;
text-align: justify;
}

.front
.back{
  background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: center;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}

.container:check .front,
.container:check .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), 
    -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*.container:hover .back{*/
/*  -webkit-transform: rotateY(0deg);*/
/*          transform: rotateY(0deg);*/
/*  -webkit-transform-style: preserve-3d;*/
/*          transform-style: preserve-3d;*/
/*}*/

/*.container:hover .front{*/
/*  -webkit-transform: rotateY(-180deg);*/
/*          transform: rotateY(-180deg);*/
/*  -webkit-transform-style: preserve-3d;*/
/*          transform-style: preserve-3d;*/
/*}*/

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

footer {
  text-align: center;
}

footer small {
    display: inline-block;
    padding: 8px 0;
    color: #000;
}


.button_wrapper{
  text-align: center;
  position: relative;

}



/*画面サイズに合わせる*/

img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}


/*画像を中央に寄せる chuouで指定して画像のみ*/
.chuou {
display: block;
margin: 0 auto;
}

/*パネルデフォルトの横の長さ指定*/
.panel-default{
  max-width: 1200px;
  text-align: center;
}

/*タイトルボタン*/
.w-break{
  font-size: 25px;
  height: 30px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}


/*ロゴボタン*/
.pocketquiz_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff7f50;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #ff7f50;
    border: dashed 1px #FFF;
}

.pocketquiz_btn:hover{
	border: dotted 1px #FFF;
}

.logo_position{
    margin:10px;
}




/*クリエイトボタン*/
.blue_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.blue_btn:hover {
    background: #67c5ff;
    color: white;
}



/*ユーザーボタン*/
.user_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #7fffbf;
    border: solid 2px #7fffbf;
    border-radius: 3px;
    transition: .4s;
}

.user_btn:hover {
    background: #7fffbf;
    color: white;
}






*, *:before, *:after {
padding: 1px; /*ナブバー幅*/
margin: 0;
box-sizing: border-box;
}
ol, ul {
list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
.cp_cont {
height:5vh;/*ナブバー幅*/
}
/*.cp_offcm01 {*/
/*position: absolute;*/
/*top: 20px;*/
/*right: 20px;*/

  
/*}*/


/* menu */
.cp_offcm01 .cp_menu {
position: fixed;
top: 0;
right: -100vw;
width: 250px;
margin-top: 150px;
cursor: pointer;
-webkit-transition: 0.53s transform;
transition: 0.53s transform;
-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
transition-timing-function: cubic-bezier(.38,.52,.23,.99);
background-color: #607D8B;
opacity: 0.8;
}
.cp_offcm01 .cp_menu ul {
margin: 0;
padding: 0;
}
.cp_offcm01 .cp_menu li {
list-style: none;
}
.cp_offcm01 .cp_menu li a {
display: block;
padding: 5px; /*幅*/

text-decoration: none;
color: #ffffff;
border-bottom: 1px solid #ffffff;
}
.cp_offcm01 #cp_toggle01 {
position: absolute;
display: none;
opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
-webkit-transform: translateX(-100vw);
transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
display: block;
padding: 0px;
cursor: pointer;
-webkit-transition: 0.5s transform;
transition: 0.5s transform;
-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
text-align: center;
color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
-webkit-transform: translateX(-250px);
transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
font-family: 'FontAwesome';
content: url(../images/menu.png);
font-size: 5em; /*≡と×のサイズ*/
float:right;

}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
content: '×';
}

#nav ul li{ 	
    display: inline;
 } 





.button_wrapper{
  text-align: center;
  position: relative;
}

.title textarea{
  resize: none;
  width: 400px;
  height: 25px;
}


/*入力フォームのサイズ*/


.hamburger{
  position: sticky;
  z-index: 2;
  top:0px;
}

.hamburger2{
  position: relative;
  z-index: 1;
  top:0px;
}




h2:first-letter {
font-size: 2em;
color: #00bfff;
}
 /*mypage edit delete button 横並び*/
 .button-inline form{
   display:inline;
 }

textarea {
  width: 100%;
  height: 50px;

}

